.container {
  display:flex;
  justify-content: space-between;
}

.changeColor {
  width:5em;
  height:5em;
  background:#000;
}

.backgroundcolor {
	background-color: blue;
	width:5em;
  height:5em;
}
